# dependencies
node_modules/
**/node_modules/

# build outputs
dist/
build/
.next/
coverage/

# environment variables
.env
.env.*

# local files
.DS_Store
.idea/
.vscode/

# lock files (optional if you use pnpm or yarn)
package-lock.json
yarn.lock
